ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  justify-content: center;
}

.container {
  display: "flex";
  padding: "0 50px";
  justify-content: "space-between";
  height: "100vh";
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .container {
    flex-direction: column !important;
  }
}

/* .listblock {
} */

.listblock ul li a {
  /* padding: 5px 30px 5px 10px; */
  display: block;
}

.listblock ul li a:hover {
  background: "gray";

  /* border:1px solid #e5edec; */
}

button {
  height: 40px;
  width: 230px;
  background-color: white;
  margin-bottom: 10px;
  cursor: pointer;
}

button:hover {
  background-color: lightgreen;
}

.disabledBtn:hover {
  background-color: lightyellow;
}

.disabledBtn {
  background-color: lightgray;
}

.wrapper {
  display: "flex";
  flex-direction: "column";
  align-items: "center";
}
